<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Stock Prices</title>
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css" type="text/css" />
        <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
        {{script|safe}}
    </head>
    <body>
            <h2><a href="https://morning-citadel-64984.herokuapp.com/">Back to Homepage</a></h2><br/>
            {{ div|safe }}
    </body>
</html>
~                 
